<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <%
        var title = page.title;

        if (is_archive()){
          title = 'Archives';

          if (is_month()){
            title += ': ' + page.year + '/' + page.month;
          } else if (is_year()){
            title += ': ' + page.year;
          }
        } else if (is_category()){
          title = 'Category: ' + page.category;
        } else if (is_tag()){
          title = 'Tag: ' + page.tag;
        }
        %>
        <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

        <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
        <%- page.geo ? `<meta name="ICBM" content="${[page.geo.lat, page.geo.lng].join()}" />` : '' %>
        <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
        <link rel="icon" href="<%- theme.favicon %>">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script src="/js/index.js" defer></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2547771-11"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-2547771-11');
        </script>

    </head>
  <body>
    <%- body %>
  </body>
</html>
